attrs
Automat
certifi
cffi
charset-normalizer
constantly
cryptography
cssselect
defusedxml
filelock
hyperlink
idna
Incremental
itemadapter
itemloaders
jmespath
lxml
packaging
parsel
Protego
pyasn1
pyasn1_modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
redis
requests
requests-file
Scrapy
scrapy-redis
scrapy-user-agents
service-identity
six
tldextract
Twisted
typing_extensions
ua-parser
ua-parser-builtins
urllib3
user-agents
w3lib
zope.interface
